{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<link rel="stylesheet" href="static/css/styles.css">
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	    <table class="table">
        {% for item in cafes %}
        <tr>
            <td>{{ item.id }} | {{ item.name }} | <a href='{{ item.map_url }}'>Google Maps URL</a> | <a href='{{ item.img_url }}'>Image URL</a> | {{ item.location }} | {{ item.has_sockets }} | {{ item.has_toilet }} | {{ item.has_wifi }} | {{ item.can_take_calls }} | {{ item.seats }} | {{ item.coffee_price }}</td>
        </tr>
        {% endfor %}
          </table>
          <p><a href="{{ url_for('home') }}">Return to index page</a></p>
  	  </table>

    </div>
  </div>
</div>

{% endblock %}
