<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopZinga's Login</title>
    <link rel='icon' href='../static/images/favicon.ico'>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id='signup-title-section'>
        <img src='../static/images/Firefly_Login-coding_20124.png' style='width: 40%; height: 100%;'></img>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <h3 style='font-size: 2rem;'>Email: {{ form.email(class='move-a-little-up') }}</h3>
        <h3 style='font-size: 2rem;'>Password: {{ form.password(class='move-a-little-up') }}</h3>
        {{ form.submit(class='atc2') }}
    </form>
</body>
</html>