<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel='icon' href='../static/images/favicon.ico'>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div style='height: 85px; background-color: #46c1ff; width: 120%; position: relative; right: 1%; bottom: 1%; margin-right: 3%;'>
        <img src='../static/images/Shopzinga.png' style='width: 3%; height: 30px; position: relative; top: 15px; left: 15px; display: inline'></img><strong><a href="http://127.0.0.1:5000" style='font-size: 2rem; position: relative; top: 10px; left: 25px; color: #f5f5f5; text-decoration: none'>ShopZinga<a></strong>
        <strong><a href="{{url_for('home')}}"  style='color: #f5f5f5; position: absolute; top: 21%; right: 16.5%; font-size: 1.5rem; text-decoration: none'>Return to Home</a></strong>
    </div>
    <div id='items-title-section' style='position: relative; right: 0.5%; bottom: 0.5%; height: 250px;'>
        <h1 class='title-header5'>Payment Successful!</h1>
        <h1 class='title-header4'>Your reference order number is {{order_number}}.</h1>
        <h1 class='title-header4'>Your order details has been sent at <a href='' style='color: #fff'>{{login_id}}</a>.</h1>
    </div>
</body>
</html>