<!DOCTYPE HTML>
<html>
	<head>
		<title>Harry Potter</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/styles.css"/>
	</head>
	<body style='text-align: center; background-color: #ABCBCD'>
        <h1 style="font-size: 50px; color:#3c7c4b; margin-bottom: 3rem">Harry Potter</h1>
        <h2><a class='main-site-link1' style="color: #1F7D53;" href='{{ url_for("spell")}}'>ALL SPELLS</a></h2><br>
        <h2><a class='main-site-link2' style="color: #1F7D53" href='{{ url_for("characters")}}'>THE HARRY POTTER CAST</a></h2>
	</body>
</html>