<!DOCTYPE HTML>
<html>
	<head>
		<title>Harry Potter</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/styles.css"/>
	</head>
	<body style='text-align: center; background-color: #ABCBCD'>
        <h1 style="font-size: 50px; color:#3c7c4b">Harry Potter Magic Spells:</h1>
        <table class='table'>
            <thead>
                <th><h1 class='spell-h3-nm1'>Spell:</h1></th>
                <th><h1 class='spell-h3-nm2'>Description:</h1></th>
            </thead>
                {% for spell in spells %}
                    <tr class='spell-list'>
                        <td class='spell'>{{spell['spell']}}</td>
                        <td class='spell-des'>{{spell['des']}}</td>
                    <tr>
                {% endfor %}
        </table>
	</body>
</html>