body {
    color:#40514E;
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center
}

h1 {
    font-family: 'Sacramento', cursive;
    font-style: oblique;
    font-size: 5.625rem;
    color: coral;
}

.h2 {
    font-family: 'Dekko';
    font-size: 2.5rem;
    color: coral;
    font-style: oblique;
}

.jumbotron {
    border-radius: 0.3rem;
    font-family: 'Sacramento', cursive;
    font-style: oblique;
    color: coral;
  }

.img1 {
    height: 600px;
    width: 450px;
}


.h3 {
    font-family: 'Monsterrat', sans-serif;
    font-size: 1.5rem;
    color:#04dfb7;
    font-style: oblique;
}

a {
    font-family: 'Monsterrat', sans-serif;
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #a8ffff
}

.Top_Container {
    background-color: #E4F9F5;
    padding-top: 80px;
    position: relative;
}
.Middle-Container {
    background-color:#E4F9F5;
    padding: 80px;
}
.Bottom-Container {
    padding: 50px 0 20px;
    background-color:#66bfbf
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.Charizard {
    background-color: coral;
}

.skill-row{
    width: 50%;
    margin: auto;
}

.intro {
    width: 50%;
    margin:auto;
    font-size: 17px;
}

.copyright {
    font-size: 0.75rem;
    padding:20px 0;
    color: #eaf6f6
}

.hr {
    background-color: #E4F9F5;
}

.giphy {
    display: inline;
}

p {
    line-height: 2;
}

hr {
    size: 50px;
    border-bottom: none;
    border: solid #c1f8ee;
    
}

.btn{
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #11999e;
    font-family: 'Monsterrat', sans-serif;
    margin: 30px auto 40px;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 100px 100px 100px #0059A0;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn {
    border: solid #11999e 1px;
    background: #11999e;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }