.logo{
	height:64px;
	display: block;
	margin: auto;
}

div.container_{
	margin:0 auto;
	width:90%;
}

.page_title {
	font-size: 3.0rem;
	line-height: 3.3rem;
}

span.left_spacer{
	margin-left:30px;
}
div.product_thumbnail_title{
	min-height:3rem;
	max-height:4.5rem;
	overflow:hidden;
}

div.product_description{
	font-size:1.3rem;
}

div.head_desc{
	padding: 10px;
	color: #39c;
	background-color:#fff;
	display: block;
	text-align: center;
	font-size:1.2rem;
}

@media only screen and (min-width: 1500px) {
	.row .col.ll3 {
		margin-left: 0;
		width: 25%;
	}
}

@media only screen and (max-width: 1250px) {
	span.left_spacer{
		margin-left:20px;
	}

	form#header_search_box input{
		width:220px;
	}
}

@media only screen and (max-width: 1150px) {

	span.left_spacer{
		margin-left:5px;
	}

	form#header_search_box input{
		width:150px;
	}
}

@media only screen and (max-width: 1100px) {
	form#header_search_box input{
		display:none;
	}

}

@media only screen and (max-width: 1050px) {
	form#header_search_box input{
		display:none;
	}

}


@media only screen and (min-width: 992px) {
	#left_menu{
		min-height:600px;
	}
}
@media only screen and (max-width: 992px) {

	.row div.product_matrix_thumbnail{
		min-width:0;
	}
	dt {
		font-size:1.5rem;
	}
	dd{
		font-size:1.5rem;
		margin: 0 25px;
	}

	div.container_{
		width:98%;
	}


	ul.tabs li.tab{
		font-size: 13px;
	}

	.page_title{
		font-size: 3.0rem;
		line-height:3.5rem;
	}

	.side_nav_title{
		font-size: 2.0rem;
	}

}

@media only screen and (max-width: 768px) {
	.row div.product_matrix_thumbnail{
		max-width:220px;
	}

	.row div.product_thumbnail{
		max-width:220px;
	}
}

@media only screen and (max-width: 600px) {

	dt {
		text-align: center;
		font-size:1.5rem;
	}
	dd{
		margin: 0 10px;
		font-size:1.3rem;
	}

	.collection.with-header .collection-header{
		padding: 0px 10px;
	}

	div.product_description{
		font-size:1.0rem;
	}

	.row .product_thumbnail.col{
		padding:0px;
	}

	div.container_{
		width: 100%;
	}


	.product_thumbnail .card{
		margin:5px 2px;
		padding:0px;
	}

	.page_title_box{
		width:100%;
	}
	div.matrix_row{
		height:auto;
		over-flow:none;
	}


	ul.tabs li.tab{
		font-size: 10px;
		float:none;
		width:100%;
	}

	ul.tabs li.long_menu_tab{
		float:left;
		width:50%;
	}

	ul.tabs{
		height:auto;
	}
	ul.tabs li.gt{
		display:none;
	}


	.page_title{
		font-size:1.5rem;
		line-height:2.0rem;
		margin:10px 0;
	}
	.additional_title{
		font-size:1.3rem;
	}


	.logo{
		height:56px;
	}


	.page_title{

	}
}
@media only screen and (max-width: 400px) {
	.logo{
		height:40px;
	}
	nav.header_nav{
		height:40px;
	}

	#small_med_search{
		height:40px;
		line-height:40px;

	}
	nav a.button-collapse{
		height:40px;
		line-height:40px;
	}
	nav a.button-collapse i{
		height:40px;
		line-height:40px;
	}

}

@media only screen and (max-width: 400px) {
	.row div.product_thumbnail{
		height:265px;
	}

	.row div.product_matrix_thumbnail{
		height:265px;
	}

}
@media only screen and (max-width: 300px) {
	.row div.product_thumbnail{
		height:265px;
	}
	.row div.product_matrix_thumbnail{
		height:265px;
	}

	nav.header_nav{
		height:40px;
	}
}
