td {
    border: 1px solid black
}

.main-site-link1 {
    text-align: center;
}

.main-site-link2 {
    text-align: center;
}

.spell-list {
    font-size: x-large;
}

.spell-h3-nm1 {
    position: relative;
    color: #1F7D53;
    left: 55rem;
}

.spell-h3-nm2 {
    position: relative;
    color: #1F7D53;
    left: 57rem;
}

.spell {
    position: relative;
    left: 55rem;
    font-weight: bold;
}

.spell-des {
    width: 20rem;
    position: relative;
    left: 57rem;
}

.char-h3-nm1 {
    position: relative;
    color: #1F7D53;
    left: 55rem;
}

.char-h3-nm2 {
    position: relative;
    color: #1F7D53;
    left: 57rem;
}

.char {
    position: relative;
    left: 55rem;
}

.char-house {
    width: 20rem;
    position: relative;
    left: 57rem;
}