body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #ff6f6f;
    font-size: 4rem;
    margin: 0 auto 0;
}

p {
    color: #ff6f6f;
    width: 600px;
    margin: 0 auto 0;
}

h2 {
    color: #ff6f6f;
    font-size: 3rem;
    margin: 0 auto 0;
}

.lessPadding {
    padding-bottom: 1rem;
}

th {
    color: #ff6f6f;
    font-size: 2rem;
}

.colorDiv {
    width: 30%;
    height: 50px;
    border-radius: 10px;
}